<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wpf_Traffic_violation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Wpf_Traffic_violation.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>DESKTOP-KL7JJLG\Waseem</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Traffic_Violation_Management</value>
            </setting>
        </Wpf_Traffic_violation.Properties.Settings>
    </applicationSettings>
</configuration>