<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Wpf_Traffic_violation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Wpf_Traffic_violation.Properties.Settings.Traffic_Violation_ManagementConnectionString"
            connectionString="Data Source=ENG-IPRAHIM_A_M\MSSQLSERVER17;Initial Catalog=Traffic_Violation_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Wpf_Traffic_violation.Properties.Settings.Traffic_Violation_ManagementConnectionString1"
            connectionString="Data Source=SAM_PC\SQLEXPRESS;Initial Catalog=Traffic_Violation_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Wpf_Traffic_violation.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>WASEEM-PC\SQLEXPRESS</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Traffic_Violation_Management</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="UserNameSystem" serializeAs="String">
                <value />
            </setting>
            <setting name="Userid" serializeAs="String">
                <value>0</value>
            </setting>
        </Wpf_Traffic_violation.Properties.Settings>
    </userSettings>
</configuration>
